<!--============================================ LOGIN PAGE =====================================================-->
<!--                       @HOSU NO NEED TO CHANGE THIS PART             -->
<div *ngIf="!LoginMode">
  <section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body is-align-items-stretch">
      <div class="container has-text-centered has-text-black">
        <div class="animate__animated animate__fadeInDownBig">
          <div class="mt-4">
            <div class="box p-6">
              <p class="title has-text-black">TL Login</p>
              <div class="divider is-left is-black"></div>

              <!-- --------------- Room Name Input ---------------->
              <div class="field has-text-left">
                <label class="label">Room Name</label>
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="text" placeholder="Room Name" [(ngModel)]="RoomNick">
                  <span class="icon is-left is-small">
                    <fa-icon [icon]="faUser"></fa-icon>
                  </span>
                </div>
              </div>
              <!-- --------------- Room Name Input ---------------->

              <!-- --------------- Password Input ---------------->
              <div class="field has-text-left">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="password" placeholder="Password" [(ngModel)]="SearchPass">
                  <span class="icon is-left is-small">
                    <fa-icon [icon]="faLock"></fa-icon>
                  </span>
                </div>
              </div>
              <!-- --------------- Password Input ---------------->

              <!-- --------------- Enter Button ---------------->
              <div class="field is-grouped p-4" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div class="control">
                  <button class="button is-dark" routerLink="/">Back</button>
                </div>
                <div class="control">
                  <p *ngIf="status !== ''" class="has-text-danger">{{ status }}</p>
                </div>
                <div class="control">
                  <button class="button is-dark" (click)="LoginRoom()" #loadstate>Enter</button>
                </div>
              </div>
              <!-- --------------- Enter Button ---------------->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--============================================ LOGIN PAGE  =====================================================-->



<section class="hero is-dark is-fullheight" *ngIf="LoginMode">
  <!---------------------- MENU ------------------------>
  <div class="hero-head">
    <button style="z-index: 1; position:absolute; left: 0; top: 0;" class="button is-small is-fullwidth is-primary"
    (click)="OpenOption=true">Menu</button>
  
    <div [ngClass]="BGColour == '#28282B' ? 'has-background-primary-light' : 'has-background-black'" *ngIf="OpenOption"
    style="z-index: 1; position: absolute; width: 100%; left: 0; top: 0;">
      <div style="width: 100%; display:flex; flex-direction: column; padding-left: 30px; padding-right: 30px; padding-top: 10px; padding-bottom: 10px;">
        
        <!--                SMALL MENU                   -->
        <div *ngIf="WinWidth < 1590" style="width: 100%; display: flex; align-items: stretch;">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <a class="button" routerLink="/" [routerLinkActive]="['is-active']" style="margin-right: 5px; height: 77px; width: 77px;">
              Exit
            </a>
          </div>

          <div style="display: flex; flex-direction: column; margin-right: 5px;">
            <a class="button" (click)="SetModalMenu(3)">Extra Info (Stream Link, Tags, Note)</a>
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: left; margin-top: 5px;">
              <div style="margin-left: 5px;">
                <label style="color: black; margin-right: 5px;">Font Size</label>
                <input style="width: 50px; margin-right: 5px;" type="number" min="1" [(ngModel)]="FFsize"/>
              </div>
              <div>
                <input type="checkbox" [(ngModel)]="ThirdPartySharing" (ngModelChange)="ThirdPartyChange()">
                <span style="color: black; margin-left: 5px;">3rd Party Sharing</span>
              </div>
            </div>
          </div>
      
          <div style="display: flex; flex-direction: column; margin-right: 5px;">
            <a class="button" (click)="SetModalMenu(2)" style="margin-bottom: 5px;">Host Open Session</a>
            <a class="button" (click)="SetModalMenu(4)">Password</a>
          </div>

          <div style="display: flex; flex-direction: column; margin-right: 5px;">
            <a class="button" style="margin-bottom: 5px;">Sync</a>
            <a class="button">UnSync</a>
          </div>

          <div style="display: flex; flex-direction: column; margin-right: 5px;">
            <a class="button" (click)="SetModalMenu(5)" style="margin-bottom: 5px;">Export Script</a>
            <a class="button" (click)="SetModalMenu(6)">Save to Archive</a>
          </div>

          <div>
            <a class="button" (click)="SetModalMenu(7)" style="height: 100%;">Clear Room</a>  
          </div>          
        </div>
        
        <!--                BIG MENU                   -->
        <div *ngIf="WinWidth >= 1590" style="width: 100%; display: flex; align-items: center;">
          <a class="button" routerLink="/" [routerLinkActive]="['is-active']" style="margin-right: 5px;">
            Exit
          </a>
          <label style="color: black; margin-right: 5px;">Font Size</label>
          <input style="width: 50px; margin-right: 5px;" type="number" min="1" [(ngModel)]="FFsize"/>
          <input style="margin-right: 5px;" type="checkbox" [(ngModel)]="ThirdPartySharing" (ngModelChange)="ThirdPartyChange()">
          <span style="color: black; margin-right: 5px;">3rd Party Sharing</span>
          <a class="button" style="margin-right: 5px;" (click)="SetModalMenu(3)">Extra Info (Stream Link, Tags, Note)</a>
          <a class="button" style="margin-right: 5px;" (click)="SetModalMenu(2)">Host Open Session</a>
          <a class="button" style="margin-right: 5px;" (click)="SetModalMenu(4)">Password</a>
          <a class="button" style="margin-right: 5px;">Sync</a>
          <a class="button" style="margin-right: 5px;">UnSync</a>
          <a class="button" style="margin-right: 5px;" (click)="SetModalMenu(5)">Export Script</a>
          <a class="button" style="margin-right: 5px;" (click)="SetModalMenu(6)">Save to Archive</a>
          <a class="button" style="margin-right: 5px;" (click)="SetModalMenu(7)">Clear Room</a>  
        </div>
      </div>
    </div>
  </div>
  <!--==================== MENU ======================-->

  <!---------------------- ENTRY VIEWER ------------------------>
  <div class="hero-body" (click)="OpenOption=false" style="position: relative; display:flex; align-items: stretch;">
    <div class="container is-fluid">
      <div [style.-webkit-text-stroke-width]="OT + 'px'" [style.font-family]="FStyle" [style.font-size]="FFsize + 'px'" [style.text-align]="TxAlign" style="display: flex; flex-direction: column; overflow-y: auto;" #cardcontainer>
        <div style="margin-top: auto;"></div>
        <div id="BoxShape" *ngFor="let Entry of EntryList; index as i" class="animate__animated animate__fadeInLeft">
          <h1>
            {{ Entry.Stime }} 
            <span [style.-webkit-text-fill-color]="'#' + Entry.CC" [style.-webkit-text-stroke-color]="'#' + Entry.OC" (click)=OpenEditEntry(i) style="cursor: pointer;">{{ Entry.Stext }}</span>
          </h1>
        </div>
      </div>
    </div>
    
    <!-------------------- PROFILE LIST -------------------->
    <div *ngIf="ProfileTab" style="position: absolute; right: 25px; bottom: 10px; z-index: 1; background-color: black; color: white; font-weight: bold;">
      <div *ngFor="let prf of ProfileList; index as i;">
        <p *ngIf="i == SelectedProfile">> {{prf.Name}}</p>
        <p *ngIf="i != SelectedProfile">{{prf.Name}}</p>
      </div>
    </div>
    <!--================== PROFILE LIST ==================-->    
  </div>
  <!--==================== ENTRY VIEWER ======================-->

  <!---------------------- TL TOOL ------------------------>
  <div class="hero-foot" #footer>
    <div class="container is-fluid" style="display: flex; flex-direction: column;">

      <div style="display: flex; flex-direction: row; margin-bottom: 5px;">
        <input type="text" [(ngModel)]="TLEntry.Stext" (keydown.enter)="SendEntry()" max="200" style="width: 100%;"/>
        <div class="control" style="margin-left: auto;">
          <a class="button" (click)="SendEntry()" style="margin-left: 10px;">Enter</a>
        </div>        
      </div>

      <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 5px;">
        <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
          <label style="margin-right: 10px;">Prefix </label>
          <input style="width: 100px;" type="text" [(ngModel)]="Prefix" max="30"/>
        </div>

        <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
          <label style="margin-right: 10px;">Suffix </label>
          <input style="width: 100px;" type="text" [(ngModel)]="Suffix" max="30"/>
        </div>

        <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
          <input style="margin-right: 5px;" type="checkbox" [(ngModel)]="CCcheck">
          <label style="margin-right: 10px;">Character Colour </label>
          <input type="color" [(ngModel)]="CCcolour"/>
        </div>

        <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
          <input style="margin-right: 5px;" type="checkbox" [(ngModel)]="OCcheck">
          <label style="margin-right: 10px;">Outline Colour </label>
          <input type="color" [(ngModel)]="OCcolour"/>
        </div>
      </div>

      <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 20px;">
        <a class="button" (click)="SetModalMenu(1)" style="margin-right: 5px;">Add Profile</a>
        <a class="button" (click)="ShiftUp()" style="margin-right: 5px;">Shift Up</a>
        <a class="button" (click)="ShiftDown()" style="margin-right: 5px;">Shift Down</a>
        <a class="button" (click)="DeleteProfile()" style="margin-right: 5px;">Delete Profile</a>
        <a class="button" (click)="Broadcast()" style="margin-right: 5px;">Start Broadcast</a>
      </div>
    </div>
  </div>
  <!--==================== TL TOOL ======================-->
</section>



<!--
  1 => Add New Profile
  2 => Host Open Session
  3 => Stream Link, Tags, Note
  4 => Password
  5 => Export Script
  6 => Save to Archive
  7 => Clear room
  8 => Edit Entry
-->
<!---------------------------------------------- MODALS ------------------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : ModalMenu != 0 }">
  <div class="modal-background" (click)="ModalMenu = 0"></div>
  <div class="modal-content" [ngSwitch]="ModalMenu">
    <div class="box">
      <!--  ADD NEW PROFILE  -->
      <div *ngSwitchCase="1">
        <div class="field">
          <label class="label">New profile</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="ProfileName"/>
          </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <a class="button is-rounded is-danger" (click)="ModalMenu = 0">Cancel</a>
          <a class="button is-rounded is-success" (click)="AddProfile()">Ok</a>
        </div>
      </div>

      <!--  HOST OPEN SESSION  -->
      <div *ngSwitchCase="2">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <label class="label is-size-3">HOST OPEN SESSION</label>
        </div>

        <div class="field">
          <label class="label">Session Password</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="OpenSessionPass"/>
          </div>
        </div>
        
        <div class="block">
          <p>Open session allows proofreader or other translator to access the room with limiter privilege using a temporary pasword to make sure that they won't be able to mess with the archive and other settings</p>
        </div>
        
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <a class="button is-rounded is-danger" (click)="ModalMenu = 0">Cancel</a>
          <a class="button is-rounded is-success" (click)="SaveOpenSessionPass()">Save</a>
        </div>
      </div>

      <!--  STREAM LINK TAGS NOTE  -->
      <div *ngSwitchCase="3">
        <div class="field">
          <label class="label">Stream Link</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="StreamLink" max="255"/>
          </div>
        </div>

        <div class="field">
          <label class="label">Tags</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="Tags" max="255"/>
          </div>
        </div>

        <div class="field">
          <label class="label">Note</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="Notes" max="1024"/>
          </div>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <a class="button is-rounded is-danger" (click)="ModalMenu = 0">Cancel</a>
          <a class="button is-rounded is-success" (click)="SaveExtraInfo()">Save</a>
        </div>
      </div>

      <!--  PASSWORD  -->
      <div *ngSwitchCase="4">
        <div class="field">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <input type="checkbox" [(ngModel)]="PassCheck" style="margin-right: 5px;">
            <label class="label">Password protected</label>
          </div>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="PassString" max="255" placeholder="Password"/>
          </div>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <a class="button is-rounded is-danger" (click)="ModalMenu = 0">Cancel</a>
          <a class="button is-rounded is-success" (click)="SavePassword()">Save</a>
        </div>
      </div>

      <!--  EXPORT  -->
      <div *ngSwitchCase="5">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <label class="label is-size-3">EXPORT FORMAT</label>
        </div>

        <div style="display: flex; flex-direction: column;">
          <a class="button" style="margin-top: 5px; display: none" (click)="ExportToFile(0)">Export to plain text</a>
          <a class="button" style="margin-top: 5px;" (click)="ExportToFile(1)">Export to srt</a>
          <a class="button" style="margin-top: 5px;" (click)="ExportToFile(2)">Export to ass</a>
          <a class="button" style="margin-top: 5px;" (click)="ExportToFile(3)">Export to TTML</a>
          <a class="button" style="margin-top: 5px;" (click)="ModalMenu = 0">Cancel</a>
        </div>
      </div>

      <!--  SAVE TO ARCHIVE  -->
      <div *ngSwitchCase="6">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <label class="label is-size-3">SAVE TO ARCHIVE</label>
        </div>

        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="ArchiveTitle" max="255"/>
          </div>
        </div>

        <div class="field">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <input type="checkbox" [(ngModel)]="PassCheck" style="margin-right: 5px;">
            <label class="label">Password Protected</label>
          </div>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="PassString" max="255"/>
          </div>
        </div>
        
        <div class="field">
          <label class="label">Link to stream</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="StreamLink" max="255"/>
          </div>
        </div>

        <div class="field">
          <label class="label">Tags</label>
          <div class="control">
            <input class="input" type="text" [(ngModel)]="Tags" max="255"/>
          </div>
        </div>

        <div class="field">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <input type="checkbox" [(ngModel)]="ThirdPartySharing" style="margin-right: 5px;">
            <label class="label">3rd Party Sharing</label>
          </div>
        </div>

        <div class="field">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <input type="checkbox" [(ngModel)]="Hidden" style="margin-right: 5px;">
            <label class="label">Hidden</label>
          </div>
        </div>

        <div class="field">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <input type="checkbox" [(ngModel)]="Downloadable" style="margin-right: 5px;">
            <label class="label">Downloadable</label>
          </div>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <a class="button is-rounded is-danger" (click)="ModalMenu = 0">CANCEL</a>
          <a class="button is-rounded is-success" (click)="SaveToArchive()">OK</a>
        </div>
      </div>

      <!--  FLUSH ROOM  -->
      <div *ngSwitchCase="7">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <label class="label is-size-3">FLUSH ROOM ?</label>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <a class="button is-rounded is-danger" (click)="ModalMenu = 0">CANCEL</a>
          <a class="button is-rounded is-success" (click)="ClearRoom()">OK</a>
        </div>
      </div>

      <!-- EDIT ENRTY -->
      <div *ngSwitchCase="8">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <label class="label is-size-3">EDIT ENTRY</label>
        </div>

        <div class="field">
          <input class="input" type="text" [(ngModel)]="EditText" (keydown.enter)="SendEdit()" max="200"/>
          <div style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
            <input style="margin-right: 5px;" type="checkbox" [(ngModel)]="EditCCheck">
            <label style="margin-right: 5px; font-weight: bold;">Character Colour </label>
            <input style="margin-right: 10px;"type="color" [(ngModel)]="EditCC"/>
   
            <input style="margin-right: 5px;" type="checkbox" [(ngModel)]="EditOCheck">
            <label style="margin-right: 5px; font-weight: bold;"> Outline Colour </label>
            <input type="color" [(ngModel)]="EditOC"/>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <a class="button is-rounded is-danger" (click)="ModalMenu = 0">CANCEL</a>
          <a class="button is-rounded is-success" (click)="SendEdit()">OK</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============================================ MODALS =====================================================-->



<!---------------------------------------------- NOTIF MODAL ------------------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : ModalNotif == true }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <label class="label is-size-2">{{ NotifText }}</label>
      </div>
    </div>
  </div>
</div>
<!--============================================ NOTIF MODAL =====================================================-->
