@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

#BoxShape {
    margin-top: 5px;
}

#TopMenu > div > .button {
    padding-left: 8px;
    padding-right: 8px;
}