<!--============================================ LOGIN PAGE =====================================================-->
<section class="hero is-dark is-fullheight">
  <!---------------------- MENU ------------------------>
  <div class="hero-head" #HeroHead>
    <button *ngIf="!OpenOption" class="button is-small is-fullwidth is-primary" (click)="OpenOption = true; InnerResize(10)">Menu</button>
  
    <div [ngClass]="BGColour == '#28282B' ? 'has-background-primary-light' : 'has-background-black'" *ngIf="OpenOption" style="width: 100%;">
      <div style="width: 100%; display:flex; flex-direction: column; padding-left: 30px; padding-right: 30px; padding-top: 10px; padding-bottom: 10px;">
        <!--                BIG MENU                   -->
        <div style="width: 100%; display: flex; align-items: center;">
          <a class="button is-small is-link" routerLink="/" [routerLinkActive]="['is-active']">
            <fa-icon [icon]="faHome"></fa-icon>
          </a>
      
          <!--
          <div>
            <label style="color: black;">Font Size </label>
            <input type="number" min="1" [(ngModel)]="FFsize"/>
          </div>
          -->
      
          <a class="button" (click)="SetModalMenu(2)">Script Setting</a>
          <a class="button" (click)="SetModalMenu(6)">New Script</a>
          <a class="button" (click)="SetModalMenu(8)">Export Script</a>
          <a class="button" (click)="SetModalMenu(7)">Import Script</a>
          <a class="button" (click)="SaveLocal()">Save Session</a>
          <a class="button" (click)="SetModalMenu(5)">Upload To DB</a>
          <a class="button" (click)="SetModalMenu(9)">Download From DB</a>
          <a class="button" (click)="SetModalMenu(4)" >Load Video</a>
          <a class="button" (click)="UnSync()">Unload Video</a>
        </div>
      </div>
    </div>
  </div>
  <!--==================== MENU ======================-->

  <!---------------------- MAIN DISPLAY ------------------------>
  <div class="hero-body" (click)="OpenOption = false; InnerResize(10)" style="position: relative; display:flex; flex-direction: row; align-items: stretch;">

    <!-----------------------  UPPER HEAD  ----------------------->
    <div style="display: flex; flex-direction: row; width: 100%;">
      <!-- ENTRY VIEWER -->
      <div style="-webkit-text-stroke-width: 1px; font-family: Ubuntu; font-size: 21; font-weight: bolder; width: 100%; padding-right: 5px;">
        <div style="width: 100%; overflow-y: auto;" [style.max-height]="TableHeight + 'px'" (window:resize)="InnerResize()" #TableContainer>
          <table style="width: 100%;" class="table is-striped">
            <thead style="position: sticky; top: 0; background-color: black;">
              <tr>
                <th></th>
                <th style="color: white;">#</th>
                <th style="color: white;">Timestamp</th>
                <th style="color: white;">Profile</th>
                <th style="width: 100%; color: white;">Text</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Entry of EntryList; index as i">
                <td><fa-icon [icon]="faTimesCircle" (click)="ModalMenu = 3; SelectedEntry = i" style="cursor: pointer;"></fa-icon></td>
                <td>{{ i + 1 }}</td>
                <td>{{ Entry.Stime | date:'HH:mm:ss.SS':'UTC+0'}}</td>
                <td>{{ this.ProfileList[Entry.Prfidx].Name }}</td>
                <td><input [style.-webkit-text-fill-color]="this.ProfileList[Entry.Prfidx].CC" [style.-webkit-text-stroke-color]="this.ProfileList[Entry.Prfidx].OC" class="EntryEdit" type="text" [(ngModel)]="Entry.Stext" max="200"/></td>
              </tr>
            </tbody>
          </table>
        </div>
 
        <!-------------------- PROFILE LIST -------------------->
        <div *ngIf="ProfileTab" style="position: absolute; right: 25px; bottom: 10px; z-index: 1; background-color: black; color: white; font-weight: bold;">
          <div *ngFor="let prf of ProfileList; index as i;">
            <p *ngIf="i == SelectedProfile">> {{ i + 1 }}. {{prf.Name}}</p>
            <p *ngIf="i != SelectedProfile">{{ i + 1 }}. {{prf.Name}}</p>
          </div>
        </div>
        <!--================== PROFILE LIST ==================-->    
      </div>

      <!--  VIDEO CONTAINER  -->
      <div style="display: flex; flex-direction: column; padding-left: 5px; padding-bottom: 5px;" [style.border-left]="VidLoad ? '2px solid white' : ''" #TableHeightRef >
        <div *ngIf="VidLoad" style="width: 50vw; height: 100%;">
          <div id="player" style="width: 100%; height: 100%;"></div>
        </div>

  
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-top: 5px;">
          <a class="button" style="font-size: 12px;" (click)="StopTimer(true)"><fa-icon [icon]="faStop"></fa-icon></a>
          <span style="margin-left: 5px; margin-right: 5px;">{{ TimerTime | date:'HH:mm:ss.SS':'UTC+0' }}</span>
          <a class="button" style="font-size: 12px;" (click)="StartTimer(true)"><fa-icon [icon]="faPlay"></fa-icon></a>
        </div>
      </div>

    </div>
  </div>
  <!--==================== MAIN DISPLAY ======================-->

  <!---------------------- TL TOOL ------------------------>
  <div class="hero-foot" #HeroFoot>
    <div class="container is-fluid" style="display: flex; flex-direction: column;">

      <!-------------------- TIMELINE -------------------->
      <div style="display: flex; flex-direction: column; 
        border-top: 2px solid white; padding-top: 7px; 
        border-bottom: 2px solid white; padding-bottom: 7px; margin-bottom: 5px;">

        <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
          <button class="button" (click)="TimelineZoomin()" style="margin-left: auto; margin-right: 5px;">
            <span class="icon is-left is-small">
              <fa-icon [icon]="faSearchPlus"></fa-icon>
            </span>
            <span>Zoom in</span>
          </button>
          <button class="button" (click)="TimelineZoomout()">
            <span class="icon is-left is-small">
              <fa-icon [icon]="faSearchMinus"></fa-icon>
            </span>
            <span>Zoom out</span>
          </button>
        </div>

        <div style="overflow-x: auto; display: flex; flex-direction: column;">
          <canvas style="height: 20px; width: 300%;"  #TimeCanvas></canvas>

          <div style="display: flex; flex-direction: row; width: 300%;">
            <div style="width: 6px; background-color: green; height: 100%;"></div>
            <div *ngFor="let Entry of EntryList" [style.width] = "(Entry.End - Entry.Stime)/1000*SecToPx + 'px'"
              style="display: flex; flex-direction: row; -webkit-text-stroke-width: 1px; font-family: Ubuntu; font-size: 21; font-weight: bolder; color: black;">
              <input style="background-color: white; padding: 5px 10px 5px 10x; border-radius: 4%;" [style.-webkit-text-fill-color]="this.ProfileList[Entry.Prfidx].CC" [style.-webkit-text-stroke-color]="this.ProfileList[Entry.Prfidx].OC" class="EntryEdit" type="text" [(ngModel)]="Entry.Stext" max="200"/>
              <div style="width: 6px; background-color: green; height: 100%; cursor: ew-resize;"></div>
             </div>
          </div>
        </div>

      </div>
    <!--================== TIMELINE ==================-->

      <div style="display: flex; flex-direction: row; margin-bottom: 5px;">
        <input type="text" [(ngModel)]="TLEntry.Stext" (keydown.enter)="SendEntry()" max="200" style="width: 100%;"/>
        <div class="control" style="margin-left: auto;">
          <a class="button" (click)="SendEntry()" style="margin-left: 10px;">Enter</a>
        </div>        
      </div>

      <!--
      <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 5px;">
      </div>
      -->

      <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 20px;">
        <a class="button" (click)="SetModalMenu(1)" style="margin-right: 5px;">Add Profile</a>
        <a class="button" (click)="ShiftUp()" style="margin-right: 5px;">Shift Up</a>
        <a class="button" (click)="ShiftDown()" style="margin-right: 5px;">Shift Down</a>
        <a class="button" (click)="SetModalMenu(10)" style="margin-right: 5px;">Delete Profile</a>

        <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
          <label style="margin-right: 10px;">Prefix </label>
          <input style="width: 100px;" type="text" [(ngModel)]="Prefix" max="30"/>
        </div>

        <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
          <label style="margin-right: 10px;">Suffix </label>
          <input style="width: 100px;" type="text" [(ngModel)]="Suffix" max="30"/>
        </div>

        <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
          <input style="margin-right: 5px;" type="checkbox" [(ngModel)]="CCcheck" (ngModelChange)="SaveActiveProfile(0)"/>
          <label style="margin-right: 10px;">Character Colour </label>
          <input type="color" [(ngModel)]="CCcolour" (ngModelChange)="SaveActiveProfile(0)"/>
        </div>

        <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
          <input style="margin-right: 5px;" type="checkbox" [(ngModel)]="OCcheck" (ngModelChange)="SaveActiveProfile(1)"/>
          <label style="margin-right: 10px;">Outline Colour </label>
          <input type="color" [(ngModel)]="OCcolour" (ngModelChange)="SaveActiveProfile(1)"/>
        </div>
      </div>

    </div>
  </div>
  <!--==================== TL TOOL ======================-->
</section>



  <!--
    1 => Add New Profile
    2 => Script Setting
    3 => Edit Entry
    4 => Sync Timer to Video
    5 => Upload Script To DB
    6 => New Script
    7 => Import Script From Local File
    8 => Export Script To Local File
    9 => Download Script From DB
    10 => Profile Delete
    11 => Login
  -->
  <!---------------------------------------------- MODALS ------------------------------------------------------->
  <div class="modal" [ngClass]="{ 'is-active' : ModalMenu != 0 }">
    <div class="modal-background" (click)="ModalMenu = 0"></div>

    <div class="modal-content" [ngSwitch]="ModalMenu">
      <div class="box">
        <!--  ADD NEW PROFILE  -->
        <div *ngSwitchCase="1">
          <div class="field">
            <label class="label">New profile</label>
            <div class="control">
              <input class="input" type="text" [(ngModel)]="ProfileName"/>
            </div>
          </div>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <a class="button is-rounded is-danger" (click)="ModalMenu = 0">Cancel</a>
            <a class="button is-rounded is-success" (click)="AddProfile()">Ok</a>
          </div>
        </div>
  
        <!--  SCRIPT SETTING SESSION  -->
        <div *ngSwitchCase="2">
          <p>Title</p>
          <input type="text" [(ngModel)]="TempSetting.ArchiveTitle" max="255"/>
          <input type="checkbox" [(ngModel)]="TempSetting.PassCheck"><span>Password Protection</span>
          <input type="text" [(ngModel)]="TempSetting.PassString" max="255"/>
          <p>Link to stream</p>
          <input type="text" [(ngModel)]="TempSetting.StreamLink" max="255"/>
          <p>Tags</p>
          <input type="text" [(ngModel)]="TempSetting.Tags" max="255"/>
          <input type="checkbox" [(ngModel)]="TempSetting.ThirdPartySharing"><span>Party Sharing</span>
          <input type="checkbox" [(ngModel)]="TempSetting.Hidden"><span>Hidden</span>
          <a class="button" (click)="ModalMenu = 0; TempSetting = SavedSetting">CANCEL</a>
          <a class="button" (click)="SaveArchiveSetting()">OK</a>
        </div>
    
        <!-- DELETE ENRTY -->
        <div *ngSwitchCase="3">
          <p>CONFIRM DELETE ENTRY</p>
   
          <a class="button" (click)="ModalMenu = 0">NOPE</a>
          <a class="button" (click)="DeleteEntry(); ModalMenu = 0">YUP</a>
        </div>
  
        <!-- VIDEO SYNC LOADER -->
        <div *ngSwitchCase="4">
          <p>Sync to video URL</p>
          <input type="text" [(ngModel)]="TempSetting.StreamLink"/>
          <a class="button" (click)="ModalMenu = 0; TempSetting.StreamLink = SavedSetting.StreamLink">Cancel</a>
          <a class="button" (click)="LoadVideo(); SavedSetting.StreamLink = TempSetting.StreamLink">Ok</a>
        </div>

        <!--  UPLOAD TO DB  -->
        <div *ngSwitchCase="5">
          <p>Title</p>
          <input type="text" [(ngModel)]="TempSetting.ArchiveTitle" max="255"/>
          <input type="checkbox" [(ngModel)]="TempSetting.PassCheck"><span>Password Protection</span>
          <input type="text" [(ngModel)]="TempSetting.PassString" max="255"/>
          <p>Link to stream</p>
          <input type="text" [(ngModel)]="TempSetting.StreamLink" max="255"/>
          <p>Tags</p>
          <input type="text" [(ngModel)]="TempSetting.Tags" max="255"/>
          <input type="checkbox" [(ngModel)]="TempSetting.ThirdPartySharing"><span>Party Sharing</span>
          <input type="checkbox" [(ngModel)]="TempSetting.Hidden"><span>Hidden</span>
          <a class="button" (click)="ModalMenu = 0; TempSetting = SavedSetting">CANCEL</a>
          <a class="button" (click)="UploadToDB()">UPLOAD</a>
        </div>

        <!--  CONFIRM NEW SCRIPT  -->
        <div *ngSwitchCase="6">
          <p>Create new script?</p>
          <a class="button" (click)="ModalMenu = 0">Cancel</a>
          <a class="button" (click)="NewScript()">Ok</a>
        </div>

        <!--  IMPORT SCRIPT  -->
        <div *ngSwitchCase="7">
          <p>Import Script</p>
          <input class="file-input" type="file" accept=".ass, .TTML, .srt" name="resume" (change)="FileChange($event)">
          <span>{{ filename }}</span>
          <a class="button" (click)="ModalMenu = 0; filename = 'No file uploaded'; TargetFile = null;">Cancel</a>
          <a class="button" (click)="ImportFile()">Import</a>
        </div>

        <!--  EXPORT  -->
        <div *ngSwitchCase="8">
          <p>EXPORT FORMAT</p>
          <a class="button" (click)="ExportToFile(0)">Export to plain text</a>
          <a class="button" (click)="ExportToFile(1)">Export to srt</a>
          <a class="button" (click)="ExportToFile(2)">Export to ass</a>
          <a class="button" (click)="ExportToFile(3)">Export to TTML</a>
          <a class="button" (click)="ModalMenu = 0">Cancel</a>
        </div>

        <!--  DOWNLOAD SCRIPT FROM DB  -->
        <div *ngSwitchCase="9">
          <p>DOWNLOAD FROM DB</p>
          <div *ngFor="let Archivedt of DBScriptList; index as i">
            <p style="cursor: pointer;" (click)="DBScriptSelectedIndex = i" [style.font-weight]="(DBScriptSelectedIndex == i) ? 'bold' : 'normal'">{{i+1}}. {{ Archivedt.Nick }} </p>
          </div>
          <a class="button" (click)="ModalMenu = 0">Cancel</a>
          <a class="button" (click)="DownloadScript()">Download</a>
        </div>

        <!-- DELETE PROFILE -->
        <div *ngSwitchCase="10">
          <p>
            CONFIRM DELETE PROFILE<br>
            {{ SearchProfile() + ' Entry(ies) is/are using this profile and will be set to default profile'}}
          </p>
   
          <a class="button" (click)="ModalMenu = 0">NOPE</a>
          <a class="button" (click)="DeleteProfile(); ModalMenu = 0">YUP</a>
        </div>

        <div *ngSwitchCase="11" class="container has-text-centered has-text-black">
          <div class="animate__animated animate__fadeInDownBig">
            <div class="mt-4">
              <div class="box p-6">
                <p class="title has-text-black">TL Login</p>
                <div class="divider is-left is-black"></div>
  
                <!-- --------------- Room Name Input ---------------->
                <div class="field has-text-left">
                  <label class="label">Room Name</label>
                  <div class="control has-icons-left">
                    <input class="input is-rounded" type="text" placeholder="Room Name" [(ngModel)]="RoomNick">
                    <span class="icon is-left is-small">
                      <fa-icon [icon]="faUser"></fa-icon>
                    </span>
                  </div>
                </div>
                <!-- --------------- Room Name Input ---------------->
  
                <!-- --------------- Password Input ---------------->
                <div class="field has-text-left">
                  <label class="label">Password</label>
                  <div class="control has-icons-left">
                    <input class="input is-rounded" type="password" placeholder="Password" [(ngModel)]="SearchPass">
                    <span class="icon is-left is-small">
                      <fa-icon [icon]="faLock"></fa-icon>
                    </span>
                  </div>
                </div>
                <!-- --------------- Password Input ---------------->
  
                <!-- --------------- Enter Button ---------------->
                <div class="field is-grouped p-4">
                  <div class="control">
                    <button class="button is-dark" (click)="LoginRoom()" #loadstate>Enter</button>
                  </div>
                  <div class="control">
                    <p *ngIf="status !== ''" class="has-text-danger">{{ status }}</p>
                  </div>
                </div>
                <!-- --------------- Enter Button ---------------->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--============================================ MODALS =====================================================-->
  