<!--============================================ LOGIN PAGE =====================================================-->
<section class="hero is-dark is-fullheight" [style.border]="AutoSaveMode ? '4px solid green' : '4px solid rgb(160, 0, 0)'" style="font-style: Ubuntu;">
  <!---------------------- MENU ------------------------>
  <div class="hero-head" #HeroHead>
    <button *ngIf="!OpenOption" class="button is-small is-fullwidth is-primary" (click)="OpenOption = true; InnerResize(10)">Menu</button>
  
    <div [ngClass]="BGColour == '#28282B' ? 'has-background-primary-light' : 'has-background-black'" *ngIf="OpenOption" style="width: 100%;">
      <!--                SMALL MENU                   -->
      <div style="width: 100%; display: flex; align-items: stretch; padding-left: 30px; padding-right: 30px; padding-top: 10px; padding-bottom: 10px;">
        <div style="display: flex; flex-direction: row; align-items: center;">
          <a class="button is-small is-link" style="height: 77px; width: 77px; margin-right: 5px;" routerLink="/" [routerLinkActive]="['is-active']">
            <fa-icon style="font-size: 30px;" [icon]="faHome"></fa-icon>
          </a>        
        </div>

        <div style="display: flex; flex-direction: column; margin-right: 5px;">
          <a class="button" (click)="SetModalMenu(6)">New Script</a>
          <div style="display: flex; flex-direction: row; align-items: center; min-width: 130px; margin-top: 13px;">
            <label style="color: black;">Font Size</label>
            <input style="width: 50px; margin-left: 10px;" type="number" min="1" [(ngModel)]="FFsize"/>
          </div>
        </div>
    
        <div style="display: flex; flex-direction: column; margin-right: 5px;">
          <a class="button" style="margin-bottom: 5px;" (click)="SetModalMenu(8)">Export Script</a>
          <a class="button" (click)="OpenUploadModal()">Import Script</a>
        </div>

        <div style="display: flex; flex-direction: column; margin-right: 5px;">
          <button class="button" (click)="SessionLoader()" style="margin-bottom: 5px;" [disabled]="!AutoSaveMode">Load Last Session</button>
          <a class="button" (click)="SaveLocal()">Save Session</a>
        </div>

        <div style="display: flex; flex-direction: column; margin-right: 5px;">
          <a class="button" style="margin-bottom: 5px;" (click)="SetModalMenu(2)">Script Setting</a>        
        </div>

        <div style="display: flex; flex-direction: column; margin-right: 5px;">
          <a class="button" style="margin-bottom: 5px;" (click)="SetModalMenu(9)">Download From DB</a>
          <a class="button" (click)="SetModalMenu(5)">Upload To DB</a>
        </div>

        <div style="display: flex; flex-direction: column; margin-right: 5px; margin-right: auto;">
          <a class="button" style="margin-bottom: 5px;" (click)="SetModalMenu(4)" >Load Video</a>
          <a class="button" (click)="UnSync()">Unload Video</a>
        </div>

        <div>
          <a *ngIf="!AutoSaveMode" style="height: 100%;" class="button" (click)="ReLoginAutosave()">Login</a>
          <a *ngIf="AutoSaveMode" style="height: 100%; font-weight: bold;" class="button is-warning" (click)="Logout(4)">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!--==================== MENU ======================-->

  <!---------------------- MAIN DISPLAY ------------------------>
  <div class="hero-body" (click)="OpenOption = false; InnerResize(10)" style="position: relative; display:flex; flex-direction: row; align-items: stretch;">

    <!-----------------------  UPPER HEAD  ----------------------->
    <div style="display: flex; flex-direction: row; width: 100%; border-bottom: solid 1px white;">
      <!-- ENTRY VIEWER -->
      <div style="-webkit-text-stroke-width: 1px; font-family: Ubuntu; font-weight: bolder; width: 100%; padding-right: 5px;" [style.font-size]="this.FFsize.toString() + 'px'">
        <div style="width: 100%; overflow-y: auto;" [style.max-height]="TableHeight + 'px'" (window:resize)="InnerResize()" #TableContainer>
          <table style="width: 100%; color: white;" class="table has-background-dark is-bordered" #EntryTable>
            <thead style="position: sticky; top: 0;" class="has-background-light has-text-dark" >
              <tr>
                <th>#</th>
                <th>Timestamp</th>
                <th>Profile</th>
                <th style="width: 100%;">Text</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-Entry [ngForOf]="EntryList" let-i="index">
                <tr (click)="this.SelectedEntry = i">
                  <td>{{ i + 1 }}</td>
                  <td>{{ Entry.Stime/1000 | timePrinter:true:true }}</td>
                  <td>
                    <span *ngIf="this.SelectedEntry != i">{{ this.ProfileList[Entry.Prfidx].Name }}</span>
                    <select *ngIf="this.SelectedEntry == i" [(ngModel)]="Entry.Prfidx">
                      <option *ngFor="let prf of ProfileList; index as j;" [value]="j" [selected]="Entry.Prfidx==j">{{ prf.Name }}</option>
                    </select>
                  </td>
                  <td>
                    <input *ngIf="this.SelectedEntry == i" style="background-color: transparent; width: 100%; caret-color: white;" [style.-webkit-text-fill-color]="this.ProfileList[Entry.Prfidx].CC ? this.ProfileList[Entry.Prfidx].CC : 'white'" [style.-webkit-text-stroke-color]="this.ProfileList[Entry.Prfidx].OC ? this.ProfileList[Entry.Prfidx].OC : 'white'" class="EntryEdit" type="text" [(ngModel)]="Entry.Stext" max="500"/>
                    <label *ngIf="this.SelectedEntry != i" style="background-color: transparent;"
                      [style.-webkit-text-fill-color]="this.ProfileList[Entry.Prfidx].CC ? this.ProfileList[Entry.Prfidx].CC : 'white'"
                      [style.-webkit-text-stroke-color]="this.ProfileList[Entry.Prfidx].OC ? this.ProfileList[Entry.Prfidx].OC : 'white'"> {{ Entry.Stext }} </label>
                  </td>
                </tr>

                <tr *ngIf="i == this.SelectedEntry">
                  <td class="has-background-primary has-text-white" colspan="4">
                    <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
                      
                      <button class="button" (click)="ModalMenu = 13;">
                        <span>Set As Start</span>
                      </button>
                      
                      <button class="button is-danger" (click)="ModalMenu = 3;">
                        <span class="icon is-left is-small">
                          <fa-icon [icon]="faTimesCircle"></fa-icon>
                        </span>
                        <span>Delete entry</span>
                      </button>
                    </div>
                  </td>
                </tr>

              </ng-template>
            </tbody>
          </table>
        </div>
 
        <!-------------------- PROFILE LIST -------------------->
        <div *ngIf="ProfileTab" style="position: absolute; bottom: 10px; z-index: 1; background-color: black; color: white; font-weight: bold;" 
          [style.right]="VidLoad ? 'calc(50vw + 25px)' : '25px'">
          <div *ngFor="let prf of ProfileList; index as i;">
            <p *ngIf="i == SelectedProfile">> {{ i + 1 }}. {{prf.Name}}</p>
            <p *ngIf="i != SelectedProfile">{{ i + 1 }}. {{prf.Name}}</p>
          </div>
        </div>
        <!--================== PROFILE LIST ==================-->    
      </div>

      <!--  VIDEO CONTAINER  -->
      <div style="display: flex; flex-direction: column; padding-left: 5px; padding-bottom: 5px;" [style.border-left]="VidLoad ? '2px solid white' : ''" #TableHeightRef >
        <div *ngIf="VidLoad" style="width: 50vw; height: 100%;">
          <iframe src="https://twitcasting.tv/akirosenthal/embeddedplayer/692950588?auto_play=false&default_mute=false" width="64px" height="36px" frameborder="0" allowfullscreen></iframe>
          <div id="player" style="width: 100%; height: 100%;">
            <div *ngIf="LoadLocalVideo" style="display: flex; flex-direction: row; width: 100%; height: 100%; background-color: black;">
              <video style="align-self: center;" width="100%" height="100%" controls #LocalVid></video>
            </div>
          </div>
        </div>

        <label *ngIf="VidLoad && (this.ActiveEntry > -1)" style="background-color: transparent; text-align: center; margin-top: 2px; margin-bottom: 2px; border-radius: 5%; -webkit-text-stroke-width: 1px; font-family: Ubuntu; font-weight: bolder;" 
          [style.font-size]="(this.FFsize*1.3).toString() + 'px'"
          [style.-webkit-text-fill-color]="this.ProfileList[this.EntryList[this.ActiveEntry].Prfidx].CC ? this.ProfileList[this.EntryList[this.ActiveEntry].Prfidx].CC : 'white'" 
          [style.-webkit-text-stroke-color]="this.ProfileList[this.EntryList[this.ActiveEntry].Prfidx].OC ? this.ProfileList[this.EntryList[this.ActiveEntry].Prfidx].OC : 'white'"
          > {{ this.EntryList[this.ActiveEntry].Stext }} </label>
  
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-top: 5px;">
          <a class="button" style="font-size: 12px;" (click)="StopTimer(true)"><fa-icon [icon]="faStop"></fa-icon></a>
          <span style="margin-left: 5px; margin-right: 5px;">{{ TimerTime/1000 | timePrinter:true:true }}</span>
          <a class="button" style="font-size: 12px;" (click)="StartTimer(true)"><fa-icon [icon]="faPlay"></fa-icon></a>
        </div>
      </div>

    </div>
  </div>
  <!--==================== MAIN DISPLAY ======================-->

  <!---------------------- TL TOOL ------------------------>
  <div class="hero-foot" #HeroFoot>
    <div class="container is-fluid" style="display: flex; flex-direction: column; padding-left: 8px; padding-right: 8px;">

      <!-------------------- TIMELINE -------------------->
      <div style="display: flex; flex-direction: column; padding-bottom: 7px; margin-bottom: 5px;">
        <div style="position: relative;">
          <div style="position: absolute; left: calc(40% - 2px); top: 0px; width: 4px; height: 100%; z-index: 1; background-color: rgba(255, 0, 0, 0.7);"> </div>

          <div style="overflow-x: hidden; display: flex; flex-direction: column; border-top: 2px solid white; padding-top: 7px; border-bottom: 2px solid white;"
            [style.scroll-behavior]="this.JumpScroll ? 'unset' : 'smooth'" #TimelineDiv>
            
            <div style="display: flex; flex-direction: row; margin-left: 40%;" [style.width]="(3*SecToPx*SecPerBar).toString() + 'px'"
              (mouseleave)="RulerMouseLeave($event)" (mouseup)="RulerMouseUp($event)" (mousemove)="RulerMouseMove($event)">
              <canvas [style.height]="this.BarHeight.toString() + 'px'" [style.width]="(SecToPx*SecPerBar).toString() + 'px'" #TimeCanvas1></canvas>
              <canvas [style.height]="this.BarHeight.toString() + 'px'" [style.width]="(SecToPx*SecPerBar).toString() + 'px'" #TimeCanvas2></canvas>
              <canvas style="margin-right: auto;" [style.height]="this.BarHeight.toString() + 'px'" [style.width]="(SecToPx*SecPerBar).toString() + 'px'" #TimeCanvas3></canvas>
            </div>
  
            <div style="display: flex; flex-direction: row; margin-top: 5px; margin-bottom: 5px;" [style.width]="(3*SecToPx*SecPerBar).toString() + 'px'" 
              [style.margin-left]="'calc(40% + 3px + ' + XtraMargin.toString() + 'px)'" (mouseleave)="RulerMouseLeave($event)" 
              (mouseup)="RulerMouseUp($event)" (mousemove)="RulerMouseMove($event)">

              <div *ngFor="let i of this.TimeCardIdx" [style.width] = "CardWidthCalculator(i)" [style.font-size]="this.FFsize.toString() + 'px'"
                style="display: flex; flex-direction: row; -webkit-text-stroke-width: 1px; font-family: Ubuntu; font-weight: bolder; border: solid 1px white;">

                <textarea *ngIf="this.SelectedEntry == i"  style="padding: 5px 1em 5px 1em; border-radius: 4%; text-align: center; caret-color: white;" (keypress)="TextAreaEnterCanceller($event)"
                  [style.-webkit-text-fill-color]="this.ProfileList[this.EntryList[i].Prfidx].CC ? this.ProfileList[this.EntryList[i].Prfidx].CC : 'white'"
                  [style.-webkit-text-stroke-color]="this.ProfileList[this.EntryList[i].Prfidx].OC ? this.ProfileList[this.EntryList[i].Prfidx].OC : 'white'"
                  class="EntryEditCard has-background-dark" [(ngModel)]="this.EntryList[i].Stext" (mousedown)="RulerMouseDown($event, i, false)"></textarea>

                <label *ngIf="this.SelectedEntry != i"  style="padding: 5px 1em 5px 1em; border-radius: 4%; text-align: center; align-self: center;"
                  [style.-webkit-text-fill-color]="this.ProfileList[this.EntryList[i].Prfidx].CC ? this.ProfileList[this.EntryList[i].Prfidx].CC : 'white'"
                  [style.-webkit-text-stroke-color]="this.ProfileList[this.EntryList[i].Prfidx].OC ? this.ProfileList[this.EntryList[i].Prfidx].OC : 'white'"
                  class="EntryEditCard has-background-dark" (mousedown)="RulerMouseDown($event, i, false); this.InnerResize(200)">{{ this.EntryList[i].Stext }}</label>

                <!--
                <input style="padding: 5px 1em 5px 1em; border-radius: 4%; text-align: center;"
                  [style.-webkit-text-fill-color]="this.ProfileList[this.EntryList[i].Prfidx].CC ? this.ProfileList[this.EntryList[i].Prfidx].CC : 'white'"
                  [style.-webkit-text-stroke-color]="this.ProfileList[this.EntryList[i].Prfidx].OC ? this.ProfileList[this.EntryList[i].Prfidx].OC : 'white'"
                  class="EntryEditCard has-background-dark" type="text" [(ngModel)]="this.EntryList[i].Stext" max="200" (mousedown)="RulerMouseDown($event, i, false)"/>
                -->
  
                <div style="width: 6px; background-color: white; height: 100%; cursor: ew-resize;" (mousedown)="RulerMouseDown($event, i, true);"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--================== TIMELINE ==================-->

      <!--     SMALL MENU     -->
      <div style="display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: row; margin-bottom: 5px;">
          <input type="text" [(ngModel)]="TLEntry.Stext" (keydown.enter)="SendEntry()" max="200" style="width: 100%;"/>
          <div class="control" style="margin-left: auto;">
            <a class="button" (click)="SendEntry()" style="margin-left: 10px;">Enter</a>
          </div>        
        </div>

        <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 10px; margin-top: 10px;">
          <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
            <label style="margin-right: 10px;">Prefix </label>
            <input style="width: 100px;" type="text" [(ngModel)]="Prefix" max="30"/>
          </div>
  
          <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
            <label style="margin-right: 10px;">Suffix </label>
            <input style="width: 100px;" type="text" [(ngModel)]="Suffix" max="30"/>
          </div>
  
          <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
            <input style="margin-right: 5px;" type="checkbox" [(ngModel)]="CCcheck" (ngModelChange)="SaveActiveProfile(0)"/>
            <label style="margin-right: 10px;">Character Colour </label>
            <input type="color" [(ngModel)]="CCcolour" (ngModelChange)="SaveActiveProfile(0)"/>
          </div>
  
          <div class="control" style="margin-right: 10px; display: flex; flex-direction: row; align-items: center;">
            <input style="margin-right: 5px;" type="checkbox" [(ngModel)]="OCcheck" (ngModelChange)="SaveActiveProfile(1)"/>
            <label style="margin-right: 10px;">Outline Colour </label>
            <input type="color" [(ngModel)]="OCcolour" (ngModelChange)="SaveActiveProfile(1)"/>
          </div>
        </div>
        
        <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 20px; margin-top: 10px; justify-content: space-between;">
          <div id="BottomMenu" style="display: flex; flex-direction: row; align-items: center;">
            <a class="button" (click)="SetModalMenu(1)" style="margin-right: 5px;">Add Profile</a>
            <a class="button" (click)="ShiftUp()" style="margin-right: 5px;">Shift Up</a>
            <a class="button" (click)="ShiftDown()" style="margin-right: 5px;">Shift Down</a>
            <a class="button" (click)="SetModalMenu(10)" style="margin-right: 5px;">Delete Profile</a>

            <a class="button" (click)="TimePing()" style="margin-right: 5px;">Ping</a>

            <div style="border-left: solid 2px white; padding-left: 5px; border-right: solid 2px white; padding-right: 5px; margin-right: 5px;">
              <a class="button" (click)="SetModalMenu(12)">Shift Time All</a>
            </div>

            <a *ngIf="AutoSaveMode" class="button is-success" style="cursor: default; font-family: Ubuntu; font-weight: bolder;">Auto-save ON</a>
            <a *ngIf="!AutoSaveMode" class="button is-danger" style="font-family: Ubuntu; font-weight: bolder;" (click)="ReLoginAutosave()">Auto-save OFF</a>
          </div>

          <div id="BottomMenu" style="display: flex; flex-direction: row; align-items: center;">
            <button class="button" (click)="TimelineZoomin()" style="margin-right: 5px;">
              <span class="icon is-left is-small">
                <fa-icon [icon]="faSearchPlus"></fa-icon>
              </span>
              <span>Zoom in</span>
            </button>
            <button class="button" (click)="TimelineZoomout()">
              <span class="icon is-left is-small">
                <fa-icon [icon]="faSearchMinus"></fa-icon>
              </span>
              <span>Zoom out</span>
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!--==================== TL TOOL ======================-->
</section>



  <!--
    1 => Add New Profile
    2 => Script Setting
    3 => Edit Entry
    4 => Sync Timer to Video
    5 => Upload Script To DB
    6 => New Script
    7 => Import Script From Local File
    8 => Export Script To Local File
    9 => Download Script From DB
    10 => Profile Delete
    11 => Login
    12 => Shift Time All
  -->
  <!---------------------------------------------- MODALS ------------------------------------------------------->
  <div class="modal" [ngClass]="{ 'is-active' : ModalMenu != 0 }" style="font-family: Ubuntu;">
    <div class="modal-background" (click)="ModalMenu = 0"></div>

    <div class="modal-content" [ngSwitch]="ModalMenu">
      <div class="box">
        <!--  ADD NEW PROFILE  -->
        <div *ngSwitchCase="1">
          <div class="field">
            <label class="label">New profile</label>
            <div class="control">
              <input class="input" type="text" [(ngModel)]="ProfileName"/>
            </div>
          </div>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <a class="button is-rounded is-danger" (click)="ModalMenu = 0">Cancel</a>
            <a class="button is-rounded is-success" (click)="AddProfile()">Ok</a>
          </div>
        </div>
  
        <!--  SCRIPT SETTING SESSION  -->
        <div *ngSwitchCase="2">
          <p class="title has-text-black has-text-centered pt-2">Script Metadata</p>
          <div class="divider is-left is-black"></div>
          <div class="control">
            <p class="has-text-centered has-text-danger">{{ status }}</p>
          </div>
          
          <div class="section">
            <div class="field">
              <label class="label">Archive Title</label>
              <div class="control">
                <input class="input is-rounded" type="text" placeholder="Archive Title"
                  [(ngModel)]="TempSetting.ArchiveTitle">
              </div>
            </div>
            <div class="field">
              <label class="label"><fa-icon [icon]="faTags"></fa-icon> Tags</label>
              <div class="control">
                <input class="input is-rounded" type="text" placeholder="Tags"
                  [(ngModel)]="TempSetting.Tags">
              </div>
            </div>
            <div class="field">
              <label class="label"><fa-icon [icon]="faLink"></fa-icon> Stream Link</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="text" placeholder="Stream Link"
                  [(ngModel)]="TempSetting.StreamLink">
              </div>
            </div>
            <div class="field">
              <label class="label">Extra Collab Links</label>
              <div class="control has-icons-left" style="display: flex; flex-direction: row; align-items: center;">
                <input class="input is-rounded" type="text" placeholder="Collabs Link"
                  [(ngModel)]="AuxLinkInpt">
                <fa-icon [icon]="faPlusSquare" style="margin-left: 10px; font-size: 2em; cursor: pointer;" (click)="AddAuxLink()"></fa-icon>
              </div>
              <div class="control">
                <div *ngFor="let dt of this.TempSetting.AuxLink; let i = index" style="display: flex; flex-direction: row; align-items: center;">
                  <span style="font-weight: bold;">• {{ dt }}</span>
                  <fa-icon [icon]="faWindowClose" style="margin-left: auto; cursor: pointer;" (click)="this.TempSetting.AuxLink.splice(i, 1);"></fa-icon>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Archive Note</label>
              <p class="control">
                <textarea class="textarea" style="border: solid 2px black;" placeholder="Note" maxlength="1024"
                  [(ngModel)]="TempSetting.Notes"></textarea>
              </p>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="TempSetting.PassCheck">
                <strong><fa-icon [icon]="faLock" style="margin-left: 10px;"></fa-icon> Password Protection</strong>
              </label>
              <div class="control" *ngIf="TempSetting.PassCheck">
                <input class="input is-rounded" type="password" placeholder="Password"
                  [(ngModel)]="TempSetting.PassString">
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="TempSetting.Hidden">
                <strong><fa-icon [icon]="faEyeSlash" style="margin-left: 10px;"></fa-icon> Hidden</strong>
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="TempSetting.ThirdPartySharing">
                <strong><fa-icon [icon]="faShareAlt" style="margin-left: 10px;"></fa-icon> Third-Party Shared</strong>
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="TempSetting.Downloadable">
                <strong> <fa-icon [icon]="faDownload" style="margin-left: 10px;"></fa-icon> Downloadable</strong>
              </label>
            </div>
          </div>
  
          <div class="field">
            <div class="buttons" style="display: flex; flex-direction: row; justify-content: space-between;">
              <a class="button" (click)="ModalMenu = 0; TempSetting = SavedSetting">Cancel</a>
              <a class="button is-success" (click)="SaveArchiveSetting()">Save</a>
            </div>
          </div>
        </div>
    
        <!-- DELETE ENRTY -->
        <div *ngSwitchCase="3">
          <p class="title has-text-black has-text-centered pt-2">CONFIRM DELETE ENTRY</p>
          <div class="field">
            <div class="buttons" style="display: flex; flex-direction: row; justify-content: space-between;">
              <a class="button" (click)="ModalMenu = 0">NOPE</a>
              <a class="button is-red" (click)="DeleteEntry(); ModalMenu = 0">YUP</a>
            </div>
          </div>   
        </div>
  
        <!-- VIDEO SYNC LOADER -->
        <div *ngSwitchCase="4">
          <p class="title has-text-black has-text-centered pt-2">Load Video URL</p>

          <div class="section">
            <div class="field">
              <label class="label">Stream URL</label>
              <div class="control">
                <input class="input is-rounded" type="text" placeholder="Enter URL link here" [(ngModel)]="TempSetting.StreamLink"/>
              </div>
            </div>
          
  
            <article class="message is-warning">
              <div class="message-body">
                Supported streaming platform
                <ul>
                  <li>          
                    <span class="icon is-left is-small">
                      <fa-icon [icon]="faYoutube"></fa-icon>
                    </span>
                    <span> Youtube</span>
                  </li>
                  <li>          
                    <span class="icon is-left is-small">
                      <fa-icon [icon]="faTwitch"></fa-icon>
                    </span>
                    <span> Twitch</span>
                  </li>
                </ul>
              </div>
            </article>
  
            <div class="divider is-left is-black"></div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="LoadLocalVideo">
                <strong> Load Local Video.</strong>
              </label>  
            </div>
  
            <div class="field">
              <label class="label" >Depending on your browser, it accepts one or more of the following formats: .Ogg, .MP4, and .WebM</label>
              <div class="file has-name is-small" id="wrap">
                <label class="file-label">
                  <input class="file-input" type="file" accept=".Ogg, .MP4, .WebM" name="resume"
                    (change)="FileChangeVid($event)">
                  <span class="file-cta">
                    <span class="file-icon">
                      <fa-icon [icon]="faFileUpload"></fa-icon>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name">
                    {{ TargetVideoFile ? TargetVideoFile.name : '' }}
                  </span>
                </label>
              </div>
            </div>
  
            <div class="field">
              <div class="buttons" style="display: flex; flex-direction: row; justify-content: space-between;">
                <a class="button" (click)="ModalMenu = 0; TempSetting.StreamLink = SavedSetting.StreamLink">Cancel</a>
                <a class="button is-success" (click)="LoadVideo(); SavedSetting.StreamLink = TempSetting.StreamLink">Load</a>
              </div>
            </div>

          </div>
        </div>

        <!--  UPLOAD TO DB  -->
        <div *ngSwitchCase="5">
          <p class="title has-text-black has-text-centered pt-2">Upload to DB</p>
          <div class="divider is-black">
            <h1 class="Subtitle has-text-black" style="font-size: 1.5em;">{{ this.RoomNick }}</h1>
          </div>

          <div class="field has-addons has-addons-centered">
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="UploadNew" [disabled]="LockUploadNew">
              <strong> Upload as a new archive.</strong>
            </label>
          </div>
          <p class="has-text-centered" style="margin-top: 5px; color: red;">{{ this.status }}</p>

          <article *ngIf="!UploadNew" class="message is-info" style="margin-top: 10px;">
            <div class="message-header">
              <p>Upload as revision to archive</p>
            </div>
            <div class="message-body" style="padding-left: 20px;">
              Title : {{ this.SavedSetting.ArchiveTitle }}<br>
              Link : {{ this.SavedSetting.StreamLink }}<br>
              Tags : {{ this.SavedSetting.Tags }}
            </div>
          </article>
  
          <div *ngIf="UploadNew" class="section">
            <div class="field">
              <label class="label">Archive Title</label>
              <div class="control">
                <input class="input is-rounded" type="text" placeholder="Archive Title"
                  [(ngModel)]="TempSetting.ArchiveTitle">
              </div>
            </div>
            <div class="field">
              <label class="label"><fa-icon [icon]="faTags"></fa-icon> Tags</label>
              <div class="control">
                <input class="input is-rounded" type="text" placeholder="Tags"
                  [(ngModel)]="TempSetting.Tags">
              </div>
            </div>
            <div class="field">
              <label class="label"><fa-icon [icon]="faLink"></fa-icon> Stream Link</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="text" placeholder="Stream Link"
                  [(ngModel)]="TempSetting.StreamLink">
              </div>
            </div>
            <div class="field">
              <label class="label">Extra Collab Links</label>
              <div class="control has-icons-left" style="display: flex; flex-direction: row; align-items: center;">
                <input class="input is-rounded" type="text" placeholder="Collabs Link"
                  [(ngModel)]="AuxLinkInpt">
                <fa-icon [icon]="faPlusSquare" style="margin-left: 10px; font-size: 2em; cursor: pointer;" (click)="AddAuxLink()"></fa-icon>
              </div>
              <div class="control">
                <div *ngFor="let dt of this.TempSetting.AuxLink; let i = index" style="display: flex; flex-direction: row; align-items: center;">
                  <span style="font-weight: bold;">• {{ dt }}</span>
                  <fa-icon [icon]="faWindowClose" style="margin-left: auto; cursor: pointer;" (click)="this.TempSetting.AuxLink.splice(i, 1);"></fa-icon>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Archive Note</label>
              <p class="control">
                <textarea class="textarea" style="border: solid 2px black;" placeholder="Note" maxlength="1024"
                  [(ngModel)]="TempSetting.Notes"></textarea>
              </p>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="TempSetting.PassCheck">
                <strong><fa-icon [icon]="faLock" style="margin-left: 10px;"></fa-icon> Password Protection</strong>
              </label>
              <div class="control" *ngIf="TempSetting.PassCheck">
                <input class="input is-rounded" type="password" placeholder="Password"
                  [(ngModel)]="TempSetting.PassString">
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="TempSetting.Hidden">
                <strong><fa-icon [icon]="faEyeSlash" style="margin-left: 10px;"></fa-icon> Hidden</strong>
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="TempSetting.ThirdPartySharing">
                <strong><fa-icon [icon]="faShareAlt" style="margin-left: 10px;"></fa-icon> Third-Party Shared</strong>
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="TempSetting.Downloadable">
                <strong> <fa-icon [icon]="faDownload" style="margin-left: 10px;"></fa-icon> Downloadable</strong>
              </label>
            </div>
          </div>

          <div class="divider is-black" style="margin-top: 20px; margin-bottom: 20px;"></div>
          <div class="field">
            <div class="buttons" style="display: flex; flex-direction: row; justify-content: space-between;">
              <a class="button" (click)="ModalMenu = 0; TempSetting = SavedSetting">CANCEL</a>
              <a class="button" (click)="Logout(3)">Logout</a>
              <a class="button" (click)="UploadData()"> {{ UploadNew ? 'Upload new archive' : 'Upload revision' }}</a>
            </div>
          </div>
        </div>

        <!--  CONFIRM NEW SCRIPT  -->
        <div *ngSwitchCase="6">
          <p class="title has-text-black has-text-centered pt-2">Are you sure you want to create a new script?</p>
          <article class="message is-danger">
            <div class="message-header">
              <p>Warning</p>
            </div>
            <div class="message-body">
              Any unsaved progress will be lost. Make sure to export script to file or to upload to database to save progress.
            </div>
          </article>

          <div class="field">
            <div class="buttons" style="display: flex; flex-direction: row; justify-content: space-between;">
              <a class="button" (click)="ModalMenu = 0">Cancel</a>
              <a class="button is-primary" href="/ScriptEditor">New Script</a>
            </div>
          </div>
        </div>

        <!--  IMPORT SCRIPT  -->
        <div *ngSwitchCase="7">
          <p class="title has-text-black has-text-centered pt-2">Import from file</p>

          <p class="has-text-centered" style="font-size: 1.5em;">Accepts .ass, .TTML, and .srt</p>
          <div class="divider is-left is-black"></div>
          <div class="field">
            <div class="file has-name is-small" id="wrap">
              <label class="file-label">
                <input class="file-input" type="file" accept=".ass, .TTML, .srt" name="resume"
                  (change)="FileChange($event)">
                <span class="file-cta">
                  <span class="file-icon">
                    <fa-icon [icon]="faFileUpload"></fa-icon>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
                <span class="file-name">
                  {{ filename }}
                </span>
              </label>
            </div>
          </div>
          <div class="notification is-white has-text-danger has-text-centered">
            {{ status }}</div>
  
          <!------- ONLY SHOW MENU BELOW IF THE FILE IS PARSED WITHOUT ANY TROUBLE ------->
  
          <div class="field" style="display: flex; flex-direction: row; margin-top: 10px; margin-bottom: 10px;">
            <button class="button is-dark" (click)="ModalMenu = 0">Cancel</button>
            <button class="button is-success" style="margin-left: auto;" (click)="ImportFile()" [disabled]="!FileParsed">Import File</button>
          </div>
        </div>

        <!--  EXPORT  -->
        <div *ngSwitchCase="8">
          <p class="title has-text-black has-text-centered pt-2">Export to file.</p>
          <div class="divider is-left is-black"></div>
          <div class="control">
            <p class="has-text-centered has-text-danger">{{ status }}</p>
          </div>
          <div class="field">
            <progress class="progress is-hidden" max="100" #show_hidden>30%</progress>
          </div>
          <div class="buttons has-addons is-centered" style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 15px;">
            <button class="button is-dark" (click)="ExportSrt()">Export srt</button>
            <button class="button is-dark" (click)="ExportAss()">Export ass</button>
            <button class="button is-dark" (click)="ExportTTML()">Export TTML</button>
          </div>
          <div class="divider is-left is-black"></div>
          <div style="display: flex; flex-direction: row; justify-content: space-around; width: 100%;">
            <button class="button is-dark" (click)="ModalMenu = 0">Close</button>
          </div>
        </div>

        <!--  DOWNLOAD SCRIPT FROM DB  -->
        <div *ngSwitchCase="9">
          <p class="title has-text-black has-text-centered pt-2">Download from DB</p>

          <div class="divider is-black">
            <h1 class="Subtitle has-text-black" style="font-size: 1.5em;">{{ this.RoomNick }}</h1>
          </div>

          <div style="max-height: 60vh; overflow-y: auto;">
            <table style="width: 100%; margin-top: 10px; margin-bottom: 10px;" class="table">
              <thead style="position: sticky; top: 0; background-color: black;">
                <tr>
                  <th style="color: white;">#</th>
                  <th style="color: white;">Title</th>
                  <th style="color: white;">
                    <fa-icon [icon]="faLink"></fa-icon>
                    <span> Stream Link</span>
                  </th>
                  <th style="color: white; min-width: 85px;">
                    <fa-icon [icon]="faTags"></fa-icon>
                    <span> Tags</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dt of DBScriptList; let i = index" (click)="this.DBScriptSelectedIndex = i;" 
                  [style.background-color]="this.DBScriptSelectedIndex == i ? 'rgba(0, 0, 0, 0.33)' : 'white'"
                  [style.color]="this.DBScriptSelectedIndex == i ? 'white' : 'black'" >
                  <td>{{ (this.DBScriptPage - 1)*30 + i + 1 }}</td>
                  <td>{{ dt.Nick }}</td>
                  <td>{{ dt.StreamLink }}</td>
                  <td>{{ dt.Tags }}</td>
                </tr>
              </tbody>
            </table>
          </div>
      
          <div style="display: flex; flex-direction: row; align-items: center;">
            <button [disabled]="this.DBScriptPage <= 1" class="button is-light is-small" (click)="PrevPage()" style="margin-right: 5px;">
              <span class="icon is-left is-small">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
              </span>
              <span style="font-weight: bold;">Prev</span>
            </button>
            <label>( {{ (this.DBScriptPage - 1)*30  }} - {{ (this.DBScriptPage - 1)*30 + this.DBScriptList.length }} out of {{ this.DBScriptLength }} archive(s) )</label>
            <button [disabled]="(this.DBScriptPage - 1)*30 + this.DBScriptList.length >= this.DBScriptLength" class="button is-light is-small" (click)="NextPage()" style="margin-left: auto;">
              <span style="font-weight: bold;">Next</span>
              <span class="icon is-right is-small">
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </span>
            </button>
          </div>

          <div class="field" style="display: flex; flex-direction: row; margin-top: 10px; margin-bottom: 10px; justify-content: space-between;">
            <a class="button" (click)="ModalMenu = 0">Cancel</a>
            <a class="button" (click)="Logout(2)">Logout</a>
            <button class="button" (click)="DownloadScript()" [disabled]="DBScriptSelectedIndex < 0">Download</button>
          </div>
        </div>

        <!-- DELETE PROFILE -->
        <div *ngSwitchCase="10">
          <p class="title has-text-black has-text-centered pt-2">
            CONFIRM DELETE PROFILE<br>
            {{ SearchProfile() + ' Entries are using this profile and will be set to default profile'}}
          </p>
          <div class="field">
            <div class="buttons" style="display: flex; flex-direction: row; justify-content: space-between;">
              <a class="button" (click)="ModalMenu = 0">NOPE</a>
              <a class="button is-danger" (click)="DeleteProfile(); ModalMenu = 0">YUP</a>
            </div>
          </div>   
        </div>

        <!-- LOGIN -->
        <div *ngSwitchCase="11" class="container has-text-centered has-text-black">
          <div class="mt-4">
            <div class="box p-6">
              <p class="title has-text-black">TL Login</p>
              <div class="divider is-left is-black"></div>

              <!-- --------------- Room Name Input ---------------->
              <div class="field has-text-left">
                <label class="label">Room Name</label>
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="text" placeholder="Room Name" [(ngModel)]="RoomNick">
                  <span class="icon is-left is-small">
                    <fa-icon [icon]="faUser"></fa-icon>
                  </span>
                </div>
              </div>
              <!-- --------------- Room Name Input ---------------->

              <!-- --------------- Password Input ---------------->
              <div class="field has-text-left">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="password" placeholder="Password" [(ngModel)]="SearchPass">
                  <span class="icon is-left is-small">
                    <fa-icon [icon]="faLock"></fa-icon>
                  </span>
                </div>
              </div>
              <!-- --------------- Password Input ---------------->

              <!-- --------------- Enter Button ---------------->
              <div class="field is-grouped p-4">
                <div class="control">
                  <button class="button is-dark" (click)="LoginRoom()" #loadstate>Enter</button>
                </div>
                <div class="control">
                  <p *ngIf="status !== ''" class="has-text-danger">{{ status }}</p>
                </div>
              </div>
              <!-- --------------- Enter Button ---------------->
            </div>
          </div>
        </div>

        <!--  Shif Time All  -->
        <div *ngSwitchCase="12">
          <p class="title has-text-black has-text-centered pt-2">Time Shift All</p>

          <label class="checkbox">
            <input type="checkbox" [(ngModel)]="ShiftFirst">
            <strong> Shift first entry too</strong>
          </label>

          <div class="field">
            <label class="label">Timeshift in miliseconds</label>
            <div class="control">
              <input class="input is-rounded" type="number" [(ngModel)]="TimeShift"/>
            </div>
          </div>

          <div class="field" style="display: flex; flex-direction: row; margin-top: 10px; margin-bottom: 10px; width: 100%;">
            <button class="button is-dark" (click)="ModalMenu = 0">Cancel</button>
            <button class="button is-success" style="margin-left: auto;" (click)="TimeShiftAll()">TimeShift</button>
          </div>
        </div>

        <div *ngSwitchCase="13">
          <p class="title has-text-black has-text-centered pt-2">Set as starting point? (All preceding entries will be deleted)</p>

          <div class="field" style="display: flex; flex-direction: row; margin-top: 10px; margin-bottom: 10px; width: 100%;">
            <button class="button is-dark" (click)="ModalMenu = 0">Cancel</button>
            <button class="button is-success" style="margin-left: auto;" (click)="SetAsStart()">Set As Start</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--============================================ MODALS =====================================================-->
  
<!---------------------------------------------- NOTIF MODAL ------------------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : ModalNotif == true }">
  <div class="modal-background" (click)="ModalNotif = false"></div>
  <div class="modal-content" (click)="ModalNotif = false">
    <div class="box">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <label class="label is-size-2">{{ NotifText }}</label>
      </div>
    </div>
  </div>
</div>
<!--============================================ NOTIF MODAL =====================================================-->