<div class="content" style="margin: 20px; padding: 10px; border-radius: 5%;">
  <div class="box" [ngSwitch]="CurrentPage">
    <!------------------------------- First Page  ------------------------------->
    <div *ngSwitchCase="0" style="display: flex; flex-direction: column;">
      <div>
        <div style="display: flex; flex-direction: row;">
          <div>
            <label class="label">ファイルからロードする</label>
            <div class="field">
              <div class="file has-name is-small" id="wrap">
                <label class="file-label">
                  <input class="file-input" type="file" accept=".txt" name="resume"
                    (change)="FileChange($event)">
                  <span class="file-cta">
                    <span class="file-icon">
                      <fa-icon [icon]="faFileImport"></fa-icon>
                    </span>
                    <span class="file-label">
                      MCHAD字幕レイヤー設定ファイル
                    </span>
                  </span>
                  <span class="file-name">
                    {{ filename }}
                  </span>
                </label>
              </div>
            </div>
          </div>
          <!--
          <div style="width: 2px; background-color: black; margin-left: 10px; margin-right: 10px;"></div>
          <div style="display: flex; flex-direction: column;">
            <label class="label">プリセットからロードする</label>
            <div style="display: flex; flex-direction: row;" >
              <button class="button is-success">デフォルト</button>
              <button class="button is-success">[en] チャットフィルター</button>
              <button class="button is-success">MChad字幕</button>
            </div>
          </div>
          -->
        </div>

        <hr>
        <div class="field">
          <label class="label">モード</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="ProxyMode">
                <option [value]="0" [selected]="ProxyMode==0">MChadの部屋</option>
                <option [value]="1" [selected]="ProxyMode==1">チャットから拾う</option>
              </select>
            </div>
          </div>
        </div>
  
        <div [ngSwitch]="ProxyMode">
          <div *ngSwitchCase="0">
            <div class="field">
              <label class="label">MChad部屋</label>
              テスト用の場合は空にしてください。
              <div class="control">
                <input class="input" list="Rooms" name="Select a Room" [(ngModel)]="RoomNick"
                  (ngModelChange)="CheckPass()" />
                <datalist id="Rooms">
                  <option *ngFor="let dt of RoomList" [value]="dt.Nick">{{dt.Nick}}</option>
                </datalist>
              </div>
            </div>
  
            <div *ngIf="PasswordProtected">
              <div class="field">
                <label class="label">パスワード</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="RoomPass" />
                </div>
              </div>
            </div>
          </div>
  
          <div *ngSwitchCase="1">
            <div class="field">
              <label class="label">配信URL</label>
              テスト用の場合は空にしてください。
              <div class="control">
                <input class="input" placeholder="Enter URL.." type="text" [(ngModel)]="ChatURL" />
              </div>
              <ul style="margin-top: 10px;">
                対応しているURL :
                <li><fa-icon [icon]="faYoutube" style="font-size: 16px;"></fa-icon> https://www.youtube.com/channel/xxx （自動的にチャンネルのライブ配信枠のチャット欄から拾う）</li>
                <li><fa-icon [icon]="faYoutube" style="font-size: 16px;"></fa-icon> https://www.youtube.com/watch?v=xxx</li>
                <li><img src="assets/img/Twitcast_Smol.png" width="16" height="16"/> https://twitcasting.tv/xxx</li>
                <li><fa-icon [icon]="faTwitch" style="font-size: 16px;"></fa-icon> https://www.twitch.tv/xxx</li>
              </ul>
            </div>
            
            <hr>
            <!--
            <div class="field">
              <label class="label">モード</label>
              <div class="control">
                <div class="select is-normal">
                  <select [(ngModel)]="ChatMode">
                    <option [value]="'Filter'" [selected]="ChatMode=='Filter'">フィルタ</option>
                  </select>
                </div>
              </div>
            </div>
            -->  
  
            <div *ngIf="ChatMode=='Filter'">
              <p><strong>フィルター</strong></p>
              <!--    Author   -->
              <div class="field">
                <label><fa-icon [icon]="faUser"></fa-icon><strong> ユーザ名</strong></label>
                <div class="control">
                  <ul class="wrap" *ngFor="let Author of AuthorList; let i = index">
                    <li class="icon-text">
                      <span>
                        • {{ Author }}
                       <button style="display: inline; vertical-align: middle;" class="delete is-dark" (click)="DeleteAuthList(i)"></button>
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="mt-2 control has-icons-left">
                  <input class="input is-rounded" type="text" maxlength="100" [(ngModel)]="AuthorInput"
                    placeholder="Author name..." (keydown.enter)="AddAuthor()">
                  <span class="icon is-left is-small">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </span>
                </div>
              </div>
              <div class="buttons has-addons is-right">
                <button class="button is-dark" (click)="AddAuthor()"><fa-icon [icon]="faPlusCircle" style="margin-right: 10px;"></fa-icon>ユーザ名フィルターリストに追加する</button>
              </div>
  
              <!--    Keywords   -->
              <div class="field">
                <label><fa-icon [icon]="faComment"></fa-icon><strong> キーワード</strong></label>
                <div class="control">
                  <ul class="wrap" *ngFor="let Keyword of KeywordList; let i = index">
                    <li class="icon-text">
                      <span>
                        • {{ Keyword }}
                        <button style="display: inline; vertical-align: middle;" class="delete is-dark" (click)="DeleteKeywordList(i)"></button>
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="mt-2 control has-icons-left">
                  <input class="input is-rounded" type="text" maxlength="100" [(ngModel)]="KeywordInput"
                    placeholder="Keyword..." (keydown.enter)="AddKeyword()">
                  <span class="icon is-left is-small">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </span>
                </div>
              </div>
              <div class="buttons has-addons is-right">
                <button class="button is-dark" (click)="AddKeyword()"><fa-icon [icon]="faPlusCircle" style="margin-right: 10px;"></fa-icon>キーワードフィルターリストに追加する</button>
              </div>
            </div>
  
          </div>
        </div>
      </div>

      <hr>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <button class="mt-2 button is-dark" routerLink="/" [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]="{exact:true}"><fa-icon [icon]="faHome"></fa-icon> ホームに戻る</button>
        <button class="mt-2 button is-dark" style="margin-left: auto;" (click)="NextButtonClick()">次へ <fa-icon [icon]="faArrowRight"></fa-icon></button>
      </div>
    </div>
    <!--============================= First Page  =============================-->

    <!------------------------------- Second Page  ------------------------------->
    <div class="columns" *ngSwitchCase="1">
      <div class="column is-two-thirds" style="display: flex; flex-direction: column;">
        <div class="columns">
          <!-- Options -->
          <div class="column">
            <label class="label">字幕設定</label>

            <!--        Chat author     -->
            <label class="checkbox"><input type="checkbox" [checked]="AuthName==false"
              (change)="this.AuthName = !this.AuthName" /> ユーザ名を隠す</label><br>

            <label class="checkbox"><input type="checkbox" [checked]="TimeStamp==true"
              (change)="this.TimeStamp = !this.TimeStamp" /> タイムスタンプ</label><br>

            <div *ngIf="TimeStamp">
              <label>タイムスタンプの色 </label>
              <input class="input" type="color" [(ngModel)]="TimeStampColour"/>
            </div>
  
            <!--        Card Number     -->
            <label>字幕ライン </label>
            <input class="input" type="number" min="0" [(ngModel)]="MaxDisplay" (ngModelChange)="ResetNumberEntries()" />
  
            <!--        Card Colour     -->
            <div>
              <label>字幕カードの背景色 </label>
              <input class="input" type="color" [(ngModel)]="BGcolour" (ngModelChange)="ReRenderExample()" />
              <label>透明度 </label>
              <p>{{ 100 - CardBGColour.a*100 }}%</p>
              <input type="range" min="0" max="1" step="0.01" [(ngModel)]="CardBGColour.a"
                (ngModelChange)="RepaintEntries()" />
            </div>
  
            <!--        Card Animation     -->
            <div class="field">
              <label>アニメーション </label>
              <div class="control">
                <div class="select">
                  <select [(ngModel)]="AniType">
                    <option [value]="'fadeIn'" [selected]="AniType=='fadeIn'">フェードイン</option>
                    <option [value]="'backIn'" [selected]="AniType=='backIn'">バックイン</option>
                    <option [value]="'bounceIn'" [selected]="AniType=='bounceIn'">バウンスイン</option>
                    <option [value]="'slideIn'" [selected]="AniType=='slideIn'">スライドイン</option>
                    <option [value]="'zoomIn'" [selected]="AniType=='zoomIn'">ズームイン</option>
                    <option [value]="'None'" [selected]="AniType=='None'">無し</option>
                  </select>
                </div>
              </div>
            </div>
            <label>アニメーションの方向 </label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="AniDir">
                  <option [value]="'Up'" [selected]="AniDir=='Up'">上</option>
                  <option [value]="'Left'" [selected]="AniDir=='Left'">左</option>
                  <option [value]="'Right'" [selected]="AniDir=='Right'">右</option>
                  <option [value]="'Down'" [selected]="AniDir=='Down'">下</option>
                </select>
              </div>
            </div>
          </div>
  
          <div class="column">
            <label class="label">テキストの設定</label>
            <!--        Text Alignment     -->
            <div class="field">
              <label>配置 </label>
              <div class="control">
                <div class="select">
                  <select [(ngModel)]="TxAlign" (ngModelChange)="RepaintEntries()">
                    <option [value]="'left'" [selected]="TxAlign=='left'">左</option>
                    <option [value]="'center'" [selected]="TxAlign=='center'">中央</option>
                    <option [value]="'right'" [selected]="TxAlign=='right'">右</option>
                  </select>
                </div>
              </div>
            </div>

            <!--        Line Spacing     -->
            <div>
              <label>ラインの間隔 </label>
              <input class="input" type="number" min="0" [(ngModel)]="LineSpacing" (ngModelChange)="RepaintEntries()" />
            </div>
            
            <!--        Letter Spacing     -->
            <div>
              <label>文字間隔 （０＝デフォルト）</label>
              <input class="input" type="number" min="0" [(ngModel)]="LetterSpacing" (ngModelChange)="RepaintEntries()" />
            </div>

            <!--        Outline Thickness     -->
            <div>
              <!-- <div class="divider is-left is-black" data-content="Outline Thickness"></div> -->
              <label>線の太さ  </label>
              <input class="input" type="number" min="0" [(ngModel)]="OT" (ngModelChange)="RepaintEntries()" />
            </div>
  
            <!--      FONT STYLE OVERRIDE      -->
            <input type="checkbox" [(ngModel)]="OverrideCStyle"><span>色の強制設定</span>
            <div *ngIf="OverrideCStyle">
              <label>文字の色 </label>
              <input class="input" type="color" [(ngModel)]="OverrideCC" (ngModelChange)="RepaintEntries()" />
              <label>線の色 </label>
              <input class="input" type="color" [(ngModel)]="OverrideOC" (ngModelChange)="RepaintEntries()" />
            </div>
          </div>
  
          <div class="column">
            <!--        Font     -->
            <label class="label">フォント設定 </label>
            <input class="input" type="number" min="0" [(ngModel)]="FFsize" (ngModelChange)="RepaintEntries()" />
  
            <div class="field">
              <label>太さ</label>
              <div class="control">
                <div class="select">
                  <select [(ngModel)]="FFWeight" (ngModelChange)="RepaintEntries()">
                    <option [value]="'200'" [selected]="FFWeight=='200'">細い</option>
                    <option [value]="'normal'" [selected]="FFWeight=='normal'">普通</option>
                    <option [value]="'bold'" [selected]="FFWeight=='bold'">太字</option>
                    <option [value]="'900'" [selected]="FFWeight=='900'">超太字</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label>フォントファミリー </label>
              <div class="control">
                <div class="select is-multiple">
                  <select multiple size="5" [(ngModel)]="FFamily" (ngModelChange)="FFSelectChange()">
                    <optgroup label="日本語フォント">
                      <option [value]="'Noto Sans JP'" [selected]="FFamily=='Noto Sans JP'">Noto Sans</option>
                      <option [value]="'Kosugi Maru'" [selected]="FFamily=='Kosugi Maru'">Kosugi Maru</option>
                      <option [value]="'Hachi Maru Pop'" [selected]="FFamily=='Hachi Maru Pop'">Hachi Maru Pop</option>
                      <option [value]="'Stick'" [selected]="FFamily=='Stick'">Stick</option>
                      <option [value]="'Sawarabi Gothic'" [selected]="FFamily=='Sawarabi Gothic'">Sawarabi Gothic</option>
                    </optgroup>
                    <optgroup label="英字フォント">
                      <option [value]="'Asap'" [selected]="FFamily=='Asap'">Asap</option>
                      <option [value]="'Patrick Hand'" [selected]="FFamily=='Patrick Hand'">Patrick Hand</option>
                      <option [value]="'Kalam'" [selected]="FFamily=='Kalam'">Kalam</option>
                      <option [value]="'Signika'" [selected]="FFamily=='Signika'">Signika</option>
                      <option [value]="'Acme'" [selected]="FFamily=='Acme'">Acme</option>
                    </optgroup>
                    <optgroup label="一般フォント">
                      <option [value]="'sans-serif'" [selected]="FFamily=='sans-serif'">Sans-serif</option>
                      <option [value]="'cursive'" [selected]="FFamily=='cursive'">Cursive</option>
                      <option [value]="'monospace'" [selected]="FFamily=='monospace'">Monospace</option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <!--    LOAD ANY GOOGLE FONT 
                              <label>Or load Google web font
                                  (<a href="https://fonts.google.com/" target="_blank" >browse font</a>)
                              </label>
                              <br>
                              <label>Font name </label>
                              <input type="text" [(ngModel)]="WebFontTemp"/>
                              <br>
                              <button (click)="LoadWebFont()">Load Web Font</button>
                          -->
              <link [href]="FetchWebFont()" rel="stylesheet">
            </div>
          </div>
        </div>

        <hr>
        <div>
          <button class="button is-dark" (click)="PrevButtonClick()" style="float: left;"><fa-icon [icon]="faArrowLeft"></fa-icon> 前のページへ</button>
          <button class="button is-dark" (click)="NextButtonClick()" style="float: right;">次へ <fa-icon [icon]="faArrowRight"></fa-icon></button>
        </div>
      </div>
      <div class="divider is-vertical is-left"></div>

      <!-- Preview -->
      <div class="column">
        <div style="display: flex; flex-direction: column; width: 100%;">
          <div class="is-flex">
            <span><strong>見本</strong></span>
            <button class="button is-dark is-small" style="margin-left: auto;" (click)="Backgroundchange()"
              #BGSwitchButton>ブラック</button>
          </div>
          <div style="flex: 1; display: flex; flex-direction: row; align-items: stretch; overflow-y: hidden;">
            <div style="display: flex; flex-direction: column-reverse; height: 500px; background-color: white; padding: 15px; margin-top: 10px; overflow: auto; flex: 1;" #previewcontainer>
              <div #cardcontainer></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--============================= Second Page  =============================-->

    <!------------------------------- Third Page  ------------------------------->
    <div *ngSwitchCase="2" style="display: flex; flex-direction: column;">
      <div>
        <p>
          <strong>OBSに「ブラウザ」ソースを追加して、下のURLを使ってください</strong>
        </p>
        <p>URL : 
          <button class="button is-small is-dark is-focused" (click)="CopyBtnClick(true)" style="margin-bottom: 10px; float: right;">{{ BtnText[0] }}</button>
        </p>      
        <textarea class="textarea" placeholder="Generating Link..." readonly [(ngModel)]="ProxyLink"
          #LinkTextArea></textarea>
  
        <hr>
        <p>
          <strong>透明化するために、カスタムCSSは下の設定をコピーしてください</strong>
        </p>
        <p>カスタムCSS : 
          <button class="button is-small is-black is-focused" (click)="CopyBtnClick(false)" style="margin-bottom: 10px; float: right;">{{ BtnText[1] }}</button>
        </p>
        
        <textarea class="textarea" placeholder="Generating CSS..." readonly [(ngModel)]="ProxyCss"
          #CSSTextArea></textarea> 
      </div>
      <hr>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <button class="mt-2 button is-dark" (click)="PrevButtonClick()"><fa-icon [icon]="faArrowLeft"></fa-icon> 前のページへ</button>
        <button class="mt-2 button is-dark" (click)="SaveToFile()"><fa-icon [icon]="faFileExport"></fa-icon> ファイルに保存する</button>
      </div>
    </div>
    <!--============================= Third Page  =============================-->
  </div>
</div>