div.MessageContainer {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

img.emoticon {
    display: inline;
    vertical-align: middle;
}

.grabber{
    width:10px;
}

.grabber:hover{
    cursor:e-resize;
}