<div style="display: flex; flex-direction: column; align-items: stretch; background-color: #6577B3; height: 100vh;">
  <!-------------------------- MENU -------------------------->
  <div style="width: 100%; display:flex; flex-direction: row; padding-left: 30px; padding-right: 30px; padding-top: 10px; padding-bottom: 10px; background-color: #28282B;">
    <a class="button" routerLink="/" [routerLinkActive]="['is-active']"
      [routerLinkActiveOptions]="{exact:true}">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
  
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: left; margin-left: 5px; margin-right: 5px;">
      <div>
        <label style="color: white; margin-right: 5px;">Font Size</label>
        <input style="width: 50px; margin-right: 5px;" type="number" min="1" [(ngModel)]="FFsize"/>
      </div>
    </div>

    
    <a class="button" (click)="ModalMenu = 1; AddLink = ''">
        <fa-icon [icon]="faWrench"></fa-icon>
    </a>
  </div>

  <!---------------------- ENTRY VIEWER ------------------------>
  <div style="flex: 1; display: flex; flex-direction: row; align-items: stretch; overflow-y: hidden;">
    <div style="margin: 5px 5px 5px 5px; padding: 15px 10px 15px 10px; background-color: white; border-radius: 15px; flex: 1;" >
      <div [style.-webkit-text-stroke-width]="OT + 'px'" [style.font-family]="FStyle" [style.font-size]="FFsize + 'px'" [style.text-align]="TxAlign" 
      style="display: flex; flex-direction: column; overflow-y: auto; height: 100%;" (scroll)="ElementScrolled()" #cardcontainer>
        <div style="margin-top: auto;"></div>
        <div id="BoxShape" *ngFor="let Entry of EntryList; index as i" class="animate__animated animate__fadeInLeft">
          <div [ngSwitch]="Entry.type">

            <!--   TWITCH RENDERER  -->
            <div *ngSwitchCase="'TW'">
              <span *ngIf="Entry.data.badges">
                <span *ngFor="let dt of Entry.data.badges">
                  <img *ngIf="TwitchURLBadge(dt) != ''" class="emoticon" [src]="TwitchURLBadge(dt)" [height]="FFsize" [width]="FFsize"/>
                </span>
                <span> </span>
              </span>
              <span> {{ Entry.data.author }}</span>
              <span> : </span>
              <span *ngFor="let dt of Entry.data.message">
                <span *ngIf="dt.type == 'S'">
                  {{ dt.content }}
                </span>
                <img class="emoticon" *ngIf="dt.type == 'M'" [src]="dt.content" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
              </span>
              <span *ngIf="Entry.data.TL"> (DEEPL : {{ Entry.data.TL }})</span>
            </div>

            <!--   TWITCAST RENDERER  -->
            <div *ngSwitchCase="'TC'">
              <img class="emoticon" [src]="Entry.data.authorPhoto" style="border-radius: 50%;" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
              <span> {{ Entry.data.author }} </span>
              <img *ngIf="Entry.data.grade" class="emoticon" [src]="'https://twitcasting.tv/img/icon_premium_star' + Entry.data.grade + '.png'" style="border-radius: 50%;" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
              <span> : </span>
              <span *ngFor="let dt of Entry.data.message">
                <span *ngIf="dt.type == 'S'" [innerHTML]="dt.content"></span>
                <img class="emoticon" *ngIf="dt.type == 'M'" [src]="dt.content" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
              </span>
              <span *ngIf="Entry.data.TL"> (DEEPL : {{ Entry.data.TL }})</span>
            </div>

            <!--   YOUTUBE RENDERER  -->
            <div *ngSwitchCase="'YT'">
              <span [ngSwitch]="Entry.data.type">
                
                <div *ngSwitchCase="'DT'" style="display: flex; flex-direction: column; color: white; padding: 15px 15px 15px 15px;" [style.background]="Entry.data.BC">
                  <div>
                    <img class="emoticon" [src]="Entry.data.authorPhoto" style="border-radius: 50%;" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
                    <span> {{ Entry.data.author }}</span>
                    <span *ngIf="Entry.data.badge">
                      <span *ngFor="let dt of Entry.data.badge">
                        <img class="emoticon" [src]="dt.Thumbnail" [height]="FFsize" [width]="FFsize"/>
                      </span>
                    </span>
                    <span style="font-weight: bold;"> [{{ Entry.data.SC }}]</span>
                  </div>
                  <div>
                    <span *ngFor="let dt of Entry.data.message">
                      <span *ngIf="dt.type == 'S'" [innerHTML]="dt.content"></span>
                      <img class="emoticon" *ngIf="dt.type == 'M'" [src]="dt.content" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
                    </span>
                    <span *ngIf="Entry.data.TL"> (DEEPL : {{ Entry.data.TL }})</span>
                  </div>
                </div>

                <div *ngSwitchCase="'DS'" style="display: flex; flex-direction: column; color: white; padding: 15px 15px 15px 15px;" [style.background]="Entry.data.BC">
                  <div>
                    <img class="emoticon" [src]="Entry.data.authorPhoto" style="border-radius: 50%;" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
                    <span> {{ Entry.data.author }}</span>
                    <span *ngIf="Entry.data.badge">
                      <span *ngFor="let dt of Entry.data.badge">
                        <img class="emoticon" [src]="dt.Thumbnail" [height]="FFsize" [width]="FFsize"/>
                      </span>
                    </span>
                    <span style="font-weight: bold;"> [{{ Entry.data.SC }}]</span>
                  </div>
                  <div>
                    <span *ngFor="let dt of Entry.data.message">
                      <span *ngIf="dt.type == 'S'" [innerHTML]="dt.content"></span>
                      <img class="emoticon" *ngIf="dt.type == 'M'" [src]="dt.content" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
                    </span>
                  </div>
                </div>

                <div *ngSwitchCase="'NM'" style="display: flex; flex-direction: column; background-color: green; color: white; padding: 15px 15px 15px 15px;">
                  <div>
                    <img class="emoticon" [src]="Entry.data.authorPhoto" style="border-radius: 50%;" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
                    <span> {{ Entry.data.author }}</span>
                    <span *ngIf="Entry.data.badge">
                      <span *ngFor="let dt of Entry.data.badge">
                        <img class="emoticon" [src]="dt.Thumbnail" [height]="FFsize" [width]="FFsize"/>
                      </span>
                    </span>
                  </div>
                  <div>
                    <span *ngFor="let dt of Entry.data.message">
                      <span *ngIf="dt.type == 'S'" [innerHTML]="dt.content"></span>
                      <img class="emoticon" *ngIf="dt.type == 'M'" [src]="dt.content" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
                    </span>
                  </div>
                </div>

                <span *ngSwitchDefault>
                  <img class="emoticon" [src]="Entry.data.authorPhoto" style="border-radius: 50%;" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
                  <span [style.color]="YTColourScheme(Entry.data.mod)"> {{ Entry.data.author }}</span>
                  <span *ngIf="Entry.data.badge">
                    <span *ngFor="let dt of Entry.data.badge">
                      <img class="emoticon" [src]="dt.Thumbnail" [height]="FFsize" [width]="FFsize"/>
                    </span>
                  </span>
                  <span> : </span>
                  <span *ngFor="let dt of Entry.data.message">
                    <span *ngIf="dt.type == 'S'" [innerHTML]="dt.content"></span>
                    <img class="emoticon" *ngIf="dt.type == 'M'" [src]="dt.content" [height]="FFsize*1.5" [width]="FFsize*1.5"/>
                  </span>
                  <span *ngIf="Entry.data.TL"> (DEEPL : {{ Entry.data.TL }})</span>
                </span>
              </span>
            </div>

            <!--   SYSTEM RENDERER  -->
            <div *ngSwitchCase="'SYS'">
              <h1>
                {{ Entry.data.author }} : {{ Entry.data.message }} 
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  1 => Add New Skimmer
-->
<!---------------------------------------------- MODALS ------------------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : ModalMenu != 0 }">
    <div class="modal-background" (click)="ModalMenu = 0"></div>
    <div class="modal-content" [ngSwitch]="ModalMenu">
      <div class="box">
        <!--  SKIMMER LIST  -->
        <div *ngSwitchCase="1">
          <label class="label">Listener List</label>
          <table class="table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Link</th>
                <th>Status</th>
                <th>Auto-TL</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody *ngFor="let dt of ChatSource">
              <tr>
                <td [ngSwitch]="dt.config.type">
                  <fa-icon *ngSwitchCase="'YT'" [icon]="faYoutube" style="font-size: 32px;"></fa-icon>
                  <fa-icon *ngSwitchCase="'TW'" [icon]="faTwitch" style="font-size: 32px;"></fa-icon>
                  <img *ngSwitchCase="'TC'" src="assets/img/Twitcast_Smol.png" width="32" height="32"/>
                  <fa-icon *ngSwitchDefault [icon]="faQuestionCircle" style="font-size: 32px;"></fa-icon>
                </td>
                <td>{{ dt.config.title }}</td>
                <td>
                  <fa-icon [icon]="dt.Connected ? faBeaming : faFrown" style="font-size: 32px;"></fa-icon>
                </td>
                <td>
                  <fa-icon [icon]="faLanguage" [style.color]="dt.config.TL ? '#21185CFF' : '#21185C40'" (click)="TLSwitch(dt.id)" style="cursor:pointer; font-size: 32px;"></fa-icon>
                </td>
                <td>
                  <a class="button" (click)="DeSync(dt.id)">
                    <fa-icon [icon]="faMinusSquare"></fa-icon>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="field">
            <label class="label">Channel / Stream Link</label>
            <div class="control">
              <input class="input" type="text" placeholder="Channel / Stream Link" [(ngModel)]="AddLink"/>
            </div>
          </div>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <a class="button is-rounded is-danger" (click)="ModalMenu = 0">Close</a>
            <a class="button is-rounded is-success" (click)="AddChatSkimmer()">Add</a>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!--============================================ MODALS =====================================================-->
  
  <!---------------------------------------------- NOTIF MODAL ------------------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : ModalNotif == true }">
    <div class="modal-background" (click)="ModalNotif = false"></div>
    <div class="modal-content">
      <div class="box">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <label class="label is-size-2">{{ NotifText }}</label>
        </div>
      </div>
    </div>
  </div>
  <!--============================================ NOTIF MODAL =====================================================-->
  