<nav class="navbar is-primary" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-menu" #navMenu>
      <div class="navbar-start">
        <a class="navbar-item is-tab" routerLink="/" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact:true}" (click)="toggleNavbar()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </a>
        <a class="navbar-item is-tab" (click)="ModalMenu = 1; AddLink = ''">
            <fa-icon [icon]="faPlusSquare"></fa-icon>
        </a>
      </div>
    </div>
  </nav>

<!--
  1 => Add New Skimmer
-->
<!---------------------------------------------- MODALS ------------------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : ModalMenu != 0 }">
    <div class="modal-background" (click)="ModalMenu = 0"></div>
    <div class="modal-content" [ngSwitch]="ModalMenu">
      <div class="box">
        <!--  ADD NEW SKIMMER  -->
        <div *ngSwitchCase="1">
          <div class="field">
            <label class="label">Channel / Stream Link</label>
            <div class="control">
              <input class="input" type="text" placeholder="Channel / Stream Link" [(ngModel)]="AddLink"/>
            </div>
          </div>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <a class="button is-rounded is-danger" (click)="ModalMenu = 0">Cancel</a>
            <a class="button is-rounded is-success" (click)="AddChatSkimmer()">Add</a>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!--============================================ MODALS =====================================================-->
  
  <!---------------------------------------------- NOTIF MODAL ------------------------------------------------------->
<div class="modal" [ngClass]="{ 'is-active' : ModalNotif == true }">
    <div class="modal-background" (click)="ModalNotif = false"></div>
    <div class="modal-content">
      <div class="box">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <label class="label is-size-2">{{ NotifText }}</label>
        </div>
      </div>
    </div>
  </div>
  <!--============================================ NOTIF MODAL =====================================================-->
  