<!--------------------- GOOGLE FONT LOADER --------------------->
<div *ngIf="(FStyle != 'sans-serif') && (FStyle != 'cursive') && (FStyle != 'monospace') && (LoadFont)">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link [href]="sanitize(FStyle)" rel="stylesheet">
</div>
<!--=================== GOOGLE FONT LOADER ===================-->

<section class="hero">
  <div class="hero-body">
    <div class="container" style="height: 98vh; display: flex; flex-direction: column-reverse;">
      <div #cardcontainer style="padding-bottom: 30px;">
      </div>
    </div>
  </div>
</section>


