<section class="hero is-fullheight-with-navbar">
  <div class="hero-body has-background-primary-dark">
    <div class="container has-text-centered">
      <!-- -------------------- Website Title ---------------------- -->
      <div class="section">
        <h1 class="title is-unselectable has-text-white">MCHAD WEBAPP</h1>
        <p class="subtitle is-unselectable has-text-white">Specialized webapp for translators and streamers alike.</p>
        <h2 class="is-unselectable animate__animated animate__flipInX has-text-white">
          By <span class="has-text-weight-bold">Fans</span>
        </h2>
        <h2 class="is-unselectable animate__animated animate__flipInX animate__delay-1s has-text-white">
          From <span class="has-text-weight-bold">Fans</span>
        </h2>
        <h2 class="is-unselectable animate__animated animate__flipInX animate__delay-2s has-text-white">
          For <span class="has-text-weight-bold">Fans</span>
        </h2>
      </div>
      <!-- -------------------- Website Title ---------------------- -->

      <!-- -------------------- Front Buttons ---------------------- -->
      <div class="section">
        <div class="buttons is-centered">
          <a class="button is-primary is-medium is-inverted" [routerLink]="['/chatboard']"
            [routerLinkActive]="['is-active']"> <span>Chat Board</span> </a>
        </div>
        <div class="buttons is-centered">
          <a class="button is-primary is-medium is-inverted" [routerLink]="['/streamtool/setup']"
            [routerLinkActive]="['is-active']"> <span>Caption Layer</span> </a>
        </div>
        <div class="buttons is-centered">
          <a class="button is-primary is-medium is-inverted" [routerLink]="['/TLClient']"
            [routerLinkActive]="['is-active']"> <span>Translator Client</span> </a>
        </div>
      </div>
      <!-- -------------------- Front Buttons ---------------------- -->     
    </div>
  </div>
</section>
