.heading{
    display: inline-flex;
    font-size: 16px;
}
/* .hero{
    max-width: 100%;
    background: #585870;
    background: linear-gradient(to right, #585870,#705870);
} */

.android {
    
    max-height:612px;
    width: auto;
    height: auto;
  }

.home-section {
    border-radius: 15px; 
    border-style: solid; 
    border-width: 2px;
    border-color: white;
    padding: 10px 10px 10px 10px;
}

ul {
    display: list-item;
    text-align: left;
    padding: 0px 15px 0px 15px;
}

li {
    list-style-type: disc;
}